<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nzhusupali.project.al_burak">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alburak">
        <activity android:name=".activity.ActivityEndPreOrder"/>
        <activity android:name=".activity.ActivityLogin" />
        <activity android:name=".activity.EditCompleteItem" />
        <activity android:name=".activity.EditPreOrderItem" />
        <activity android:name=".activity.PreOrderAddCar" />
        <activity android:name=".activity.CompleteAddCar" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>